<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DRI Plants in India</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
</head>
<body>

    <!-- Buttons -->
    <div class="route-buttons">
        <button id="toggle-air">Show Air Routes</button>
        <button id="toggle-rail">Show Rail Routes</button>
        <button id="toggle-road">Show Road Routes</button>
    </div>

    <!-- Map -->
    <div id="map-container"></div>

    <!-- State List and Legend -->
    <div id="legend-container" class="map-container"></div>
    <div id="state-list-container" class="state-list-container"></div>

    <!-- Biomass Info -->
    <div id="biomass-details-container" role="region" aria-label="Biomass Details"></div>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
